NEXTAUTH_SECRET=""
# You can generate a secure secret by running this in your terminal:
# openssl rand -base64 32

NEXTAUTH_URL="http://localhost:3000"
# replace with your own domain after deployment

GOOGLE_GENERATIVE_AI_API_KEY=""
